body {
    margin: 60px auto;
    width: 70%;
    background-image: url("../assets/contact_us.jpg");
     background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}