body {
  font:white;
    background-image: url("../assets/contact_us.jpg");
     background-repeat: no-repeat;
  background-attachment: fixed; 
 
}



fa-facebook {
  background: #3B5998;
  color: white;
}

fa-twitter {
  background: #55ACEE;
  color: white;
}