body {
   
    font:white;
    background-image: url("../assets/river.jpg");
     background-repeat: no-repeat;
     background-position: center;

  background-size: cover;
  height: 100%; 
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: white;
}
